body {
  background: #262626;
  font-family: "Roboto", Helvetica, Arial;
  color: #333;

  /* Sticky footer */
  /*display: flex;
  min-height: 100vh;
  flex-direction: column;*/
}

a {
  color: #F5A214;
}
a:visited {
  color: #F5A214;
}

h1 {
  color: white;
  margin: 20px;
}

.content {
  /*flex: 1;*/
  background-color: #262626;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

iron-pages {
  padding: 0 !important;
  flex: 1 0 auto;
}

iron-pages::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}

header-element, footer-element {
  flex: none;
}

div.connect {
  background-color: #262626;
  color: white;
  padding: 5vw 15vw;
}

.uploader {
  background-color: #262626;
  color: white;
  padding: 4vw;

  display: flex;
  flex-direction: column;
}
.uploader h1 {
  text-transform: uppercase;
  font-size: 2.27vw;
  color: #F5A214;
  margin: 0;
}
.uploader .dropzone {
  background-color: rgba(72, 72, 72, 0.7);
  border-radius: 50px;
  border: 1px solid #2F2F2F;
  color: white;
  height: 30vh;
  width: 100%;
  margin-top: 2vw;
}
.uploader .dropzone .dz-message {
  padding-top: 6vh;
}

.hidden {
  display: none !important;
}

.welcome {
  padding: 20px;
}

paper-button {
  min-width: 5.14em;
  margin: 0 0.29em;
  padding: 0.7em 0.57em;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: #262626;
  border: 3px solid rgb(146, 54, 54);
  -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
  color: white;
  z-index: 9999999;
  padding: 20px;
  width: 120px;
}

plan-list {
  padding: 2vw 10vw;
}