body {
    /*background: #262626;*/
    background: #333333;
    font-family: "Roboto", Helvetica, Arial;
    color: #eee;
}

#plan-header {
    margin: 1vw;
}

#plan-content {
    margin: 1vw;
    margin-bottom: 10vw;
}

h2 {
    font-family: 'Roboto Slab', serif;
}

.underline {
    border-bottom: 1px solid #F5A214;
}

plan-weekview {
    margin-bottom: 10px;
}

paper-button {
    margin-top: 3vw;
    min-width: 10vw;
    color: #F5A214;
}

paper-input#title-input {
    min-width: 30vw;
}

paper-input#duration-input {
    width: 5vw;
}
paper-dropdown-menu {
    width: 10vw;
}
/*paper-fab.label {*/
    /*background: #fff;*/
    /*font-size: 24px;*/
    /*color: #F5A214;*/
/*}*/

/*#plan-fab {*/
    /*position: fixed;*/
    /*bottom: 50px;*/
    /*right: 50px;*/
/*}*/

